.card_expense {
    background-color: rgba(126, 126, 126, 0.158);
    border-radius: 15px;
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 25% 40% 25% 5%;
}

.box2 {
    font-size: 30px;
    padding-top: 15px;
}

.label {
    font-size: 13px;
    text-align: left;
    color: rgb(56, 56, 56);
}

.btn_addExpense {
    color: black;
}

.amount_expense {
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}