.card_income {
    background-color: rgba(0, 133, 0, 0.164);
    border-radius: 15px;
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 25% 40% 25% 5%;
}

.box {
    padding-top: 10px;
}

.box2 {
    font-size: 30px;
    padding-top: 15px;
}

.label {
    font-size: 13px;
    text-align: left;
    color: rgb(56, 56, 56);
}

.btn_addIncome {
    color: green;
}

.amount_income2 {
    color: green;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}