.logo {
    text-align: left;
    position: relative;
}

.welcome {
}

.dateSelector {
    position: relative;
    width: 100%;
}

.summaryMoney {
    height: 100px;
    position: relative;
    justify-content: center;
}

.content_home-grid {
    height: 100%;
    display: grid;
    grid-template-rows: 9% 7% 12% 12% 25% 5% 30%;
}