.alignLeft {
    text-align: left;
}

.date {
    float: left;
    position: relative;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.drpdwnMenu {
    border: none;
    font-size: 26px;
    font-weight: bold;
    width: 160px;
    outline: none;
}