.alignLeft {
    text-align: center;
}

.date {
    position: relative;
    width: 50%;
}

.drpdwnMenu {
    border: none;
    font-size: 26px;
    font-weight: bold;
    width: 160px;
    outline: none;
}

.currentDate {
    color: gray;
    margin-right: 5px;
}